In [1]:
import numpy as np
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('/home/bold/ttask')
cur = conn.cursor()

In [3]:
def select(sql):
  return pd.read_sql(sql,conn)

In [4]:
sql = ''' SELECT SUM(CASE WHEN delta>0 THEN delta ELSE 0 END) positiv_1,
                 SUM(CASE WHEN delta<0 THEN delta ELSE 0 END) negativ_1,
                 SUM(CASE WHEN delta=0 THEN 1 ELSE 0 END) exactly_1
          FROM
                (SELECT
                    pred_1 - fact delta
                FROM
                      ((SELECT
                            strftime('%Y-%m-%d %H', start_of_hour) hour,
                            queueid,
                            prediction pred_1
                        FROM prediction_1) AS p
                        JOIN 
                        (SELECT 
                            strftime('%Y-%m-%d %H', timestamp/1000, 'unixepoch') hour_f,
                            queueid,
                            COUNT(new_t) fact 
                        FROM 
                            fact_incoming
                        GROUP BY
                            hour_f, queueid) AS f 
                        ON p.hour=f.hour_f AND p.queueid=f.queueid))'''

In [5]:
select(sql)

   positiv_1  negativ_1  exactly_1
0        509       -103         33

In [6]:
sql = ''' SELECT SUM(CASE WHEN delta>0 THEN delta ELSE 0 END) positiv_2,
                 SUM(CASE WHEN delta<0 THEN delta ELSE 0 END) negativ_2,
                 SUM(CASE WHEN delta=0 THEN 1 ELSE 0 END) exactly_2
          FROM
                (SELECT
                    pred_2 - fact delta
                FROM
                      ((SELECT
                            strftime('%Y-%m-%d %H', start_of_hour) hour,
                            queueid,
                            prediction pred_2
                        FROM prediction_2) AS p
                        JOIN 
                        (SELECT 
                            strftime('%Y-%m-%d %H', timestamp/1000, 'unixepoch') hour_f,
                            queueid,
                            COUNT(new_t) fact 
                        FROM 
                            fact_incoming
                        GROUP BY
                            hour_f, queueid) AS f 
                        ON p.hour=f.hour_f AND p.queueid=f.queueid))''' 
select(sql)

   positiv_2  negativ_2  exactly_2
0        552       -153         33